body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto auto;
  justify-items: center;
  align-items: center;
  text-align: center;
}

/* Board */
.board {
  display: grid;
  background: black;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffcc;
}

.cell {
  border: 0.5px solid #222;
}

.snake {
  background: limegreen;
}

.food {
  background: red;
  border-radius: 50%;
}

/* Controls */
.controls {
  margin-top: 5px;
}

.controls button {
  margin: 4px;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #00ffcc;
  cursor: pointer;
}

/* Actions */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.actions button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* Pause */
.pause-btn {
  background: #ffcc00;
}

/* Restart */
.restart-btn {
  background: #ff3333;
  color: white;
}

/* Game Over */
.game-over {
  color: red;
  text-shadow: 0 0 10px red;
}
